@font-face {
	font-family: tahoma;
	font-display: swap;
	src: url("../fonts/tahoma.woff2") format("woff2"), url("../fonts/tahoma.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Light 300.woff2") format("woff2"), url("../fonts/VelaSans-Light 300.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Medium 500.woff2") format("woff2"), url("../fonts/VelaSans-Medium 500.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: WulkanDisplay;
	font-display: swap;
	src: url("../fonts/WulkanDisplay-SemiBold.woff2") format("woff2"), url("../fonts/WulkanDisplay-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Regular 400.woff2") format("woff2"), url("../fonts/VelaSans-Regular 400.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
